<h1>Editing manifest</h1>

<% form_for(@manifest) do |f| %>
  <%= f.error_messages %>

  <p>
    Ship: <%= @manifest.ship.name%><br />
    <%= select("manifest","ship_id", @ships.collect{ |s| [ s.name, s.id] } ) %>
  </p>
  <p>
    Item: <%= @manifest.item.name%><br />
    <%= select("manifest","item_id", @items.collect{ |s| [ s.name, s.id] }) %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @manifest %> |
<%= link_to 'Back', manifests_path %>
