<h1>Listing manifests</h1>

<table>
  <tr>
    <th>Ship</th>
    <th>Item</th>
    <th>Number</th>
  </tr>

<% for manifest in @manifests %>
  <tr>
    <td><%=h manifest.ship.name %></td>
    <td><%=h manifest.item.name %></td>
    <td><%=h manifest.number %></td>
    <td><%= link_to 'Show', manifest %></td>
    <td><%= link_to 'Edit', edit_manifest_path(manifest) %></td>
    <td><%= link_to 'Destroy', manifest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New manifest', new_manifest_path %>
