<h1>Listing ships</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cargo Space</th>
    <th>Location</th>
  </tr>

<% for ship in @ships %>
  <tr>
    <td><%= link_to ship.name, ship %></td>
    <td><%=h ship.max_cargo_space %></td>
    <td><%=h ship.location.name unless ship.location.nil?%></td>
    <td><%= link_to 'Edit', edit_ship_path(ship) %></td>
    <td><%= link_to 'Destroy', ship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ship', new_ship_path %>
