
<h1>New ship</h1>

<% form_for(@ship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= select( :ship, :location_id, @locations.collect { |l| [ l.name, l.id] } ) %>
  </p>
  <p>
    <%= f.label :max_cargo_space %><br />
    <%= f.text_field :max_cargo_space %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ships_path %>
