<h1>New ship</h1>

<% form_for(@ship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :max_cargo_space %><br />
    <%= f.text_field :max_cargo_space %>
  </p>
  <p>
    <%= f.label :location %><br />
    <select name="ship_location">
      <%- for location in @locations -%>
      <option value="<%= location.name %>"><%= location.name %></option>
      <%- end %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ships_path %>
