<h1>New item</h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :volumn %><br />
    <%= f.text_field :volumn %>
  </p>
  <p>
    <%= f.label :mass %><br />
    <%= f.text_field :mass %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', items_path %>
