<p>
  <b>Name:</b>
  <%=h @item.name %>
</p>

<p>
  <b>Volumn:</b>
  <%=h @item.volumn %>
</p>

<p>
  <b>Mass:</b>
  <%=h @item.mass %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
